/* global */

body {
  margin-top: 65px;
  font-family: 'Roboto Condensed', sans-serif;
  /* background-image: url("2webArtboard1.svg");
  background-repeat: no-repeat;
  background-size: 110vw;
  */
}

.btn-primary-spacing {
 margin-top: 15px;
 background-color: black;
 width: 100px !important;
}

.input-group-addon {
  background-color: rgba(208,208,208,1);
  color: rgba(136,136,136,1);
}

textarea:focus,
input[type="text"]:focus {
  border-color: rgba(216,216,216,0.6);
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.01) inset, 0 0 4px rgba(216,216,216,1);
  outline: 0 none;
}

h1 {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 36px;
  font-weight: 700;
  font-variant: small-caps;
  margin-bottom: 15px;
}

#output {
  margin-top: 25px;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 21px;
  font-variant: small-caps;
  background-color: #ffe900;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 10px;
}
}


/* @media */

@media (max-width: 767px) {
h1 {
  font-size: 48px;
  margin-bottom: 10px;
  color: red;
}

.btn-primary-spacing {
  margin-top: 18px;
}

body {
  margin-top: 45px;
}

}
